/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[13].use[5]!./styles/product_inner.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.product_section .big_images .slide_block .img_block > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product_section .big_images .slide_block .img_block {
  position: relative;
  overflow: hidden;
}
.product_section .big_images .slide_block .img_block:before {
  display: block;
  content: "";
  padding-bottom: 156.78%;
}

.product_section .big_images .images_slider .slick-arrow:before {
  font-family: "icon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.product_section .slick-arrow {
  -o-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.product_section {
  padding-top: 60px;
  display: flex;
  margin: 0 auto;
}
.product_section .product_images {
  flex: 0 0 65%;
  max-width: 65%;
}
.product_section .img_block {
  width: 100%;
  height: 100%;
  position: relative;
}
.product_section .small_images {
  margin-top: 25px;
  height: 160px;
}
.product_section .small_images .slick-slider {
  height: 100%;
}
.product_section .small_images .slick-slide.slick-current .img_block {
  padding: 10px;
  border: 1px solid #AE8839;
  border-radius: 6px;
}
.product_section .small_images .slick-list {
  height: 100% !important;
  margin: 0 -10px;
}
.product_section .small_images .slide_block {
  padding: 0 10px;
  height: 100%;
}
.product_section .small_images .slick-track {
  height: 100% !important;
}
.product_section .small_images .slick-slide {
  width: 100%;
  height: 100%;
}
.product_section .small_images .slick-slide > div {
  width: 100%;
  height: 100%;
}
.product_section .small_images .images_slider {
  height: 100%;
}
.product_section .big_images {
  flex: 1;
  max-height: 400px;
  padding: 0 40px;
  height: 100%;
  position: relative;
  white-space: nowrap;
  font-size: 0;
  overflow: hidden;
}
.product_section .big_images .slide_block {
  display: inline-block;
  white-space: normal;
  font-size: 1rem;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product_section .big_images .slide_block .img_block {
  background-color: #ffffff;
  max-height: 400px;
  display: block;
}
.product_section .big_images .images_slider {
  height: 100%;
}
.product_section .big_images .images_slider .slick-arrow:before {
  content: "\e902";
  font-size: 1.8rem;
  color: #AE8839;
}
.product_section .big_images .images_slider .slick-arrow.slick-next {
  position: absolute;
  top: 50% !important;
  right: 0;
  left: auto;
}
.product_section .big_images .images_slider .slick-arrow.slick-prev {
  top: 50%;
  right: auto;
  left: 20px;
  transform: translate(-50%, -50%);
  transform: rotate(-180deg);
}
.product_section .slick-arrow {
  position: absolute;
  font-size: 0;
  z-index: 3;
  border: none;
  background: transparent;
  padding: 0;
  display: block;
  left: 50%;
  margin-left: -10px;
  color: #333333;
}
.product_section .slick-arrow:hover {
  opacity: 0.7;
}
.product_section .slick-arrow.slick-disabled {
  opacity: 0.5;
  cursor: default;
}
.product_section .slick-arrow:before {
  display: block;
  font-size: 3.4rem;
  font-weight: bold;
}
.product_section .slick-arrow.slick-prev {
  transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}
.product_section .product_table {
  margin-top: 30px;
  width: 100%;
}
.product_section .product_table .table_line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid #D3BA87;
}
